{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "no-plusplus": 0,
    "no-use-before-define": 1,
    "no-unused-vars": 1,
    "no-shadow": 1,
    "no-param-reassign": 1,
    "no-underscore-dangle": 1
  }
}